{% extends "layout.html" %}

{% block section %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
  <section>
    <h4>Notification</h4>
    <ul class="alt">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  </section>
  {% endif %}
{% endwith %}

<!-- Banner -->
<section id="banner">
  <div class="content">
    <header>
      <h1>bicycledata</h1>
      <p>Rural Cycling in Focus</p>
    </header>
    <p>Welcome to our platform dedicated to collecting and analysing empirical data 
      on rural cycling! We provide the TrafficLogger, a modular data collection 
      device, which can be attached to bikes and other modes of transportation. It 
      samples and uploads data like location, speed and overtaking distance from 
      your trips. Our automated and custom post-processing methods help understand 
      the situation of active travellers on rural roads and provide empirical 
      results on which improvements can be based. Please get in touch if you are 
      interested in launching a project with us.
  </p>
  </div>
  <span class="image object">
    <img src="/static/images/index.jpg" alt="" />
  </span>
</section>
{% endblock %}
